<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been invited!</h1>
    <p>
    	<% puts @invite_url %>
      We are happy to invite you to join ad server. Please click the following link to register: <%= @invite_url %>.
    </p>
  </body>
</html>